In [8]:
name=('Please enter your name: "' )
print("Hello, " , name , "!")

Hello,  Please enter your name: " !

In [9]:
#Program to check input
num=input("Enter number :")
print(num)
name1 = input("Enter name :")
print(name1)

#Printing type of input value
print("type of number",type(num))
print("type of name" ,type(name1))

Enter number :humman
humman
Enter name :Humman
Humman
type of number <class 'str'>
type of name <class 'str'>

In [13]:
first_number=str ( input ("Enter first name" ) )
second_number=str(input("Enter second number"))

sum=(first_number + second_number)
print("Addition of two number is: ", sum)

Enter first nameHumman
Enter second numberAli
Addition of two number is:  HummanAli

In [17]:
age = 23
message = "Happy " + age + "rd Birthday !"
print(message)

TypeError: ignored

In [18]:
a=5
print("a =", a, seo='0', end=',')

TypeError: ignored

In [22]:
name = input("Enter Employee Name ")
salary =input("Enter Salary")
company =input("Enter Company name")
print("Printing Employee Details")
print("Name" , "Salary" , "Company")
print ("name, salary, comany")

Enter Employee Name Humman
Enter Salary10000
Enter Company nameIndus
Printing Employee Details
Name Salary Company
name, salary, comany

In [23]:
age = 17
natianallty ="Pakistani"


if age >= 18:
  if natianallty == "Pakistani":
    print("OK")
  else:
    print("Not OK")

else:
  print("ABCD")

ABCD

In [24]:
age = 17
natianallty ="Pakistani"


if age >= 18 and natianallty == "Pakistani":
    print("OK")
else:
    print("Not OK")

Not OK

In [25]:
age = 18
natianallty ="Pakistani"


if age == 18 or natianallty == "Pakistani":
    print("OK")
else:
    print("Not OK")

OK